<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% Dir.glob("app/views/static/*").each do|f| %>
    <%= link_to f, "none" %>
    <% end %>
    <%= link_to yield(:title), "/static/help.html" %>
    <%= link_to Dir.glob("app/views/static/*").length, "/static/help.html" %>
  </body>
</html>
