<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% Dir.glob("app/views/static/*").each do|f|
      file = f.split("/")[-1][0..-5] %>
    <%= if file != "—no-test-framework.html" and file != yield(:title).downcase + ".html"
      link_to file, "/static/" + file
    end
    %>
    <% end %>
  </body>
</html>
